h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 8em;
  text-shadow: 2px 2px 5px #4f4a4a;
  text-align: center;
}





body {
  background-color: cornflowerblue;

}


p {
  color: black;
}

section {
  width: 80%;
  margin: auto;
  background-color: yellowgreen;
  padding: 20px;
}
/*
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
*/